.container {
  width: 100%;
  display: flex;

  @media screen and (min-width: 300px) and (max-width: 600px){
    flex-direction: column;
  }
}

ion-card {
  width: 100%;
  height: 30vh;
  @media screen and (min-width: 300px) and (max-width: 600px){
    margin: 2px 3px;
    width: auto;
    height: 140px;
  }
}

ion-card-header {
  padding: 12px;
  text-align: center;
  @media screen and (min-width: 300px) and (max-width: 600px){
    padding: 5px;
  }
  ion-card-title {
    @media screen and (min-width: 300px) and (max-width: 600px){
      font-size: 14px;
    }
  }
}

ion-card-content {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 0;
  .part {
    text-align: center;
    padding: 10px;
    width: 25%;
    height: 23vh;
    position: relative;
    @media screen and (min-width: 300px) and (max-width: 600px){
      font-size: 13px;
      height: 110px;
    }
    &.gray {
      background-color: #f3f3f3;
    }
    .count {
      width: 100%;
      font-size: 50px;
      font-weight: bold;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 60%;
      @media screen and (min-width: 300px) and (max-width: 600px){
        font-size: 30px;
      }
    }
  }
}


.bottom-container {
  // background-color: pink;
  width: 100%;
  height: 68vh;
  display: flex;
  position: relative;
  @media screen and (min-width: 300px) and (max-width: 600px){
     height: 200px;
  }
  .cards {
    width: 33.33%;
    // background-color: lightgray;  
    display: flex;
    position: relative;
    .buttons {
      width: 50%;
      // background-color: red;
      display: flex;
      flex-direction: column;
      ion-button {
        height: 50%;
        background-color: transparent;
        font-size: 45px;
        @media screen and (min-width: 300px) and (max-width: 600px){
          font-size: 20px;
        }
      }
    }

    .count {
      width: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 130px;
      flex-direction: column;
      @media screen and (min-width: 300px) and (max-width: 600px){
        font-size: 30px;
      }
    }
  }
  .end-turn {
    width: 33.33%;
    // background-color: red;
    position: relative;
    .next{
      width: 100%;
      height: 80%;
      background-color: transparent;
      font-size: 150px;
      @media screen and (min-width: 300px) and (max-width: 600px){
        font-size: 30px;
        height: 100px;
        margin-top: 40px;
        margin-bottom: 10px;
      }
    }
    .reset {
      height: 15%;
      @media screen and (min-width: 300px) and (max-width: 600px){
        margin-top: 10px;
        height: 30px;
      }
    }
  }
  .energy {
    width: 33.33%;
    // background-color: lightgray;  
    display: flex;
    position: relative;
    .buttons {
      width: 50%;
      // background-color: red;
      display: flex;
      flex-direction: column;
      ion-button {
        height: 50%;
        background-color: transparent;
        font-size: 45px;
        @media screen and (min-width: 300px) and (max-width: 600px){
          font-size: 20px;
        }
      }
    }

    .count {
      width: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 130px;
      flex-direction: column;
      @media screen and (min-width: 300px) and (max-width: 600px){
        font-size: 30px;
      }
    } 
  }

  label {
    font-size: 20px;
    @media screen and (min-width: 300px) and (max-width: 600px){
      font-size: 12px;
    }
  }

  ion-segment {
    ion-segment-button{
      width: 25px;
    }
  }
}