<!-- <ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content [fullscreen]="true">
  <div class="container">
    <ion-card *ngFor="let axie of axies; let i = index">
      <ion-card-header> 
        <ion-card-title>{{i == 0 ? 'Front' : i == 1 ? 'Mid' : 'Back'}}</ion-card-title>
      </ion-card-header>
    
      <ion-card-content>
        <div class="part" (click)="useCard(i, 'mouth')">Mouth
          <div class="count">
            {{axie.mouth.count}}
          </div>
          <ion-segment (click)="$event.stopPropagation()" (ionChange)="changeCost(i, 'mouth', $event)" value="1">
            <ion-segment-button value="0">
              <ion-label>0</ion-label>
            </ion-segment-button>
            <ion-segment-button value="1">
              <ion-label>1</ion-label>
            </ion-segment-button>
            <ion-segment-button value="2">
              <ion-label>2</ion-label>
            </ion-segment-button>
          </ion-segment>
        </div>
        <div class="gray part" (click)="useCard(i, 'horn')">Horn
          <div class="count">
            {{axie.horn.count}}
          </div>
          <ion-segment (click)="$event.stopPropagation()" (ionChange)="changeCost(i, 'horn', $event)" value="1">
            <ion-segment-button value="0">
              <ion-label>0</ion-label>
            </ion-segment-button>
            <ion-segment-button value="1">
              <ion-label>1</ion-label>
            </ion-segment-button>
            <ion-segment-button value="2">
              <ion-label>2</ion-label>
            </ion-segment-button>
          </ion-segment>
        </div>
        <div class="part" (click)="useCard(i, 'back')">Back
          <div class="count">
            {{axie.back.count}}
          </div>
          <ion-segment (click)="$event.stopPropagation()" (ionChange)="changeCost(i, 'back', $event)" value="1">
            <ion-segment-button value="0">
              <ion-label>0</ion-label>
            </ion-segment-button>
            <ion-segment-button value="1">
              <ion-label>1</ion-label>
            </ion-segment-button>
            <ion-segment-button value="2">
              <ion-label>2</ion-label>
            </ion-segment-button>
          </ion-segment>
        </div>
        <div class="part gray" (click)="useCard(i, 'tail')">Tail
          <div class="count">
            {{axie.tail.count}}
          </div>
          <ion-segment (click)="$event.stopPropagation()" (ionChange)="changeCost(i, 'tail', $event)" value="1">
            <ion-segment-button value="0">
              <ion-label>0</ion-label>
            </ion-segment-button>
            <ion-segment-button value="1">
              <ion-label>1</ion-label>
            </ion-segment-button>
            <ion-segment-button value="2">
              <ion-label>2</ion-label>
            </ion-segment-button>
          </ion-segment>
        </div>
      </ion-card-content>
    </ion-card>
  </div>

  <div class="bottom-container">
    <div class="cards">
      <div class="buttons">
        <ion-button size="large" color="light" (click)="addCard(1)"> 
          <ion-icon slot="icon-only" name="caret-up-outline"></ion-icon>
        </ion-button>
        <ion-button size="large" color="light" (click)="addCard(-1)">
          <ion-icon slot="icon-only" name="caret-down-outline"></ion-icon>
        </ion-button>
      </div>
      <div class="count">
        {{cards}}
        <label>cards</label>
      </div>
    </div>
    <div class="end-turn">
      <ion-button (click)="nextTurn()" class="next" size="large" color="light">
        <ion-icon name="caret-forward-outline"></ion-icon>
      </ion-button>
      <ion-button (click)="reset()" class="reset" expand="full" fill="outline" color="danger">reset</ion-button> 
    </div>
    <div class="energy">
      <div class="count">
        {{energy}}
        <label>energy</label>
      </div>
      <div class="buttons">
        <ion-button size="large" color="light" (click)="addEnergy(1)">
          <ion-icon slot="icon-only" name="caret-up-outline"></ion-icon>
        </ion-button>
        <ion-button size="large" color="light" (click)="addEnergy(-1)">
          <ion-icon slot="icon-only" name="caret-down-outline"></ion-icon>
        </ion-button>
      </div>
    </div>
  </div>
</ion-content>
